.mainBlock {
    font-family: 'Merriweather', serif;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
    margin-bottom: 0;
    background: rgb(247, 247, 232);
}

.city-name {
    color: rgb(55, 52, 62);
}

.temp {
    font-size: 40px;
    color: rgb(55, 52, 62);
}

.position {
    column-count: 5;
}

.unit {
    position: relative;
    top: -12px;
}

.weather-forecast-temperature-min {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
}

.weather-forecast-temperature-max {
    font-size: 14px;
}

.city {
    text-decoration: underline;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.definition {
    color: gray;
    font-size: 14px;
    display: block;
}

.link-source {
    font-family: 'Merriweather', serif;
    font-size: 11px;
    margin-top: 0;
    text-align: center;
}

.active {
    color: black;
    cursor: default;
    text-decoration: none;
}
.location {
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
    color: rgb(1, 77, 93);
}
.version-city {
    text-align: center;

}
.secondary-weather-name {
    font-size: 20px;
    color: #085ED6;
}