.description-weather {
    font-family: 'Merriweather', serif;    
    font-size: 12px;  
    color: gray;
    opacity: 0.6;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-weight: bold;
}
li {
    list-style: none;

}
.description {
    padding: 0;
    text-transform: capitalize;
}
.currentTime {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    opacity: 0.6;
}

.currentDay {
    font-size: 15px;
    font-weight: bold;
}

.location {
    font-size: 13px;
    font-weight: normal;
    opacity: 50%;
    margin-bottom: 10px;
}
.weather-forecast {
    text-align: center;
    border: 0.2px solid rgba(173, 168, 168, 0.711);
    border-radius: 5px;
    box-shadow: 7px 5px 5px rgba(167, 166, 166, 0.35);
    padding-top: 10px;
    padding-bottom: 10px;
}

.version-city {
    text-align: center;
}

.secondary-weather-icon {
    width: 60px;
}

.secondary-weather-name {
    font-size: 15px;
    opacity: 0.6;
}

.secondary-weather-des {
    text-transform: capitalize;
    font-size: 12px;
    opacity: 0.6;
}

.secondary-weather-temp {
    font-size: 15px;
}